/* ヘッダー */

.header {
  background-color: black;
  margin-bottom: 48px;
  padding: 20px 0;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 200px;
  font-size: 40px;
  font-style: italic;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.nav__right{
  margin-right: 30px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 15px;
}



/* フッター */

/* .footer {
  background-color: black;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
} */

