/* ヘッダー */

.header {
  background-color: black;
  margin-bottom: 48px;
  padding: 20px 0;
}


.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  font-size: 40px;
  font-style: italic;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.nav__right {
  margin-right: 40px;
}

.nav__btn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1px solid white;
  border-radius: 3px;
}

.nav__logout{
  display: inline-block;
  padding: 5px 20px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
}

/* 新規登録ページ */

.inner{
  margin-left: 50px;
}

.form__wrapper {
  min-height: 50%;
}

.page-heading{
  font-size: 40px;
  font-weight: bold;
}

input[type="password"]{
  width: 250px;
}

input[type="submit"]{
  margin-top: 20px;
}

.field_with_errors {
  display: contents;
}


